body {
  background-color: rgb(223, 234, 252);
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  text-align: center; 
  grid-template-columns: repeat(10, .5fr);
  grid-template-rows: repeat(25 ,2.5rem);

}

h1 {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start:1 ;
  grid-column-end: 11; 
  border: black solid 5px;
  box-sizing: border-box;
  height: 4rem;
  width: .4fr;
}

ul {
  background-color: rgb(127, 174, 245);
  grid-row-start: 3;
  grid-row-end: 6;
  grid-column-start:1 ;
  grid-column-end: 11;
}

li a {
  color: aliceblue;
}

img {
  object-fit: cover;
  width: 40vw;
  height: 20vw;
}


h2 {
  grid-row-start: 6;
  grid-row-end: 8;
  grid-column-start:1 ;
  grid-column-end: 11;
  border: black solid 5px;
  box-sizing: border-box;
  height: 4rem;
  width: .4fr;
}

figure {
  grid-row-start: 8;
  grid-row-end: 12;
  grid-column-start: 8;
  grid-column-end: 11;
}

.a1 {
  grid-row-start: 8;
  grid-row-end: 12;
  grid-column-start: 1;
  grid-column-end: 3;
}
.pr {
  grid-row-start: 8;
  grid-row-end: 12;
  grid-column-start: 3;
  grid-column-end: 5;
}

table {
  grid-row-start: 8;
  grid-row-end: 12;
  grid-column-start: 5;
  grid-column-end: 8;
}
  
@media (max-width: 1201px) {
  
  ul {
    grid-row-start: 3;
    grid-row-end: 6;
  }

  h2 {
    grid-row-start: 6;
    grid-row-end: 8;
  }

  figure {
    grid-row-start: 12;
    grid-row-end: 15;
    grid-column-start: 1;
    grid-column-end: 11;
  }
  
  .a1 {
    grid-row-start: 8;
    grid-row-end: 12;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .pr {
    grid-row-start: 8;
    grid-row-end: 12;
    grid-column-start: 4;
    grid-column-end: 7;
  }
  
  table {
    grid-row-start: 8;
    grid-row-end: 12;
    grid-column-start: 7;
    grid-column-end: 11;
  }

} 

@media (max-width: 1025px) {
  
  figure {
    grid-row-start: 11;
    grid-row-end: 15;
    grid-column-start: 1;
    grid-column-end: 11;
  }
  
  .a1 {
    grid-row-start: 8;
    grid-row-end: 12;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .pr {
    grid-row-start: 8;
    grid-row-end: 12;
    grid-column-start: 4;
    grid-column-end: 7;
  }
  
  table {
    grid-row-start: 8;
    grid-row-end: 12;
    grid-column-start: 7;
    grid-column-end: 11;
  }

}

@media (max-width: 769px) {

  figure {
    grid-row-start: 11;
    grid-row-end: 15;
    grid-column-start: 1;
    grid-column-end: 6;
  }
  
  .a1 {
    grid-row-start: 7;
    grid-row-end: 11;
    grid-column-start: 1;
    grid-column-end: 6;
  }

  .pr {
    grid-row-start: 7;
    grid-row-end: 11;
    grid-column-start: 6;
    grid-column-end: 11;
  }
  
  table {
    grid-row-start:11;
    grid-row-end: 15;
    grid-column-start: 6;
    grid-column-end: 11;
  }

}

@media (max-width: 481px) {
  ul {
    grid-row-start: 3;
    grid-row-end: 6;
  }

  h2 {
    grid-row-start: 6;
    grid-row-end: 8;
  }

  figure {
    grid-row-start: 11;
    grid-row-end: 15;
    grid-column-start: 1;
    grid-column-end: 11;
  }
  
  .a1 {
    grid-row-start: 8;
    grid-row-end: 12;
    grid-column-start: 1;
    grid-column-end: 6;
  }

  .pr {
    grid-row-start: 8;
    grid-row-end: 12;
    grid-column-start: 6;
    grid-column-end: 11;
  }
  
  table {
    grid-row-start:15;
    grid-row-end: 19;
    grid-column-start: 1;
    grid-column-end: 11;
  }

}

@media (max-width: 320px) {
  
  ul {
    grid-row-start: 3;
    grid-row-end: 7;
  }

  h2 {
    grid-row-start: 7;
    grid-row-end: 9;
  }

  figure {
    grid-row-start: 16;
    grid-row-end: 20;
    grid-column-start: 1;
    grid-column-end: 11;
  }
  
  .a1 {
    grid-row-start: 8;
    grid-row-end: 12;
    grid-column-start: 1;
    grid-column-end: 11;
  }

  .pr {
    grid-row-start: 12;
    grid-row-end: 16;
    grid-column-start: 1;
    grid-column-end: 11;
  }
  
  table {
    grid-row-start: 20;
    grid-row-end: 25;
    grid-column-start: 1;
    grid-column-end: 11;
  }

}
