body {
	display: flex;
	/*flex-direction: column;*/
  flex-wrap: wrap;
}



p {
	background-color: rgb(77, 139, 255);
  font-size: x-large;
  flex: 50%;
}

h1 {
  flex: 100%;
  background-color: bisque;
  font-size: xx-large;
  text-align: center;
}