.bd {
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-columns: repeat(4, 2fr);
  grid-template-rows: repeat(9, .3fr);
}

.hfh {
  text-align: center;
  margin: 1fr;
  background-color: #fd6d63 ;
  padding: 60px;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start:1 ;
  grid-column-end: 5;
}
.a1{
  background-color:#fc7e75;
  margin: .5fr ;
  text-align: center;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 5;
}
.a2{
  background-color:#fc7e75;
  padding: 30px;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start:1 ;
  grid-column-end: 5;
}

.a3{
  background-color:#fc7e75;
  padding: 30px;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start:1 ;
  grid-column-end: 5;
}

.a4{
  background-color:#fc7e75;
  padding: 30px;
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start:1 ;
  grid-column-end: 5;
}

.pa {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row: 6/8;
  
}

.iim {
  background-color:#fc7e75;
  padding: 5px;
  grid-row-start: 8;
  grid-row-end: 9;
  grid-column-start:1 ;
  grid-column-end: 5;
  width:inherit;
  max-width: 100%;
  height: auto;
}

.la {
  grid-row-start: 9;
  grid-row-end: 10;
  grid-column-start:1 ;
  grid-column-end: 5;
}




/**
@media (min-width: 600px) {

  .i{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start:1 ;
    grid-column-end: 2;
  }
  .c{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start:2 ;
    grid-column-end: 5;
  }
  .s{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start:1 ;
    grid-column-end: 5;
  }
}


@media (min-width: 768px) {

  .i{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start:1 ;
    grid-column-end: 2;
  }
  .c{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start:2 ;
    grid-column-end: 4;
  }
  .s{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start:4 ;
    grid-column-end: 5;
  }
  
}
**/